body{
    font-family: 'Josefin Sans', sans-serif;
}
.wrap {
    margin: 0 auto;
    width: 1570px;
    padding-right: 15px;
    padding-left: 15px;
}

.mainname{
    font-size: 70.13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 9.5px;
}
.mainname p{
    margin: 63px auto 19px auto;
}
.mainline{
    background-color: #e1d9bd;
    border: none;
    width: 70px;
    height: 3px;
}

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}

div.nav{
    width: 527px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 28px 0 0 0px;
    -ms-flex-preferred-size: 33.5%;
        flex-basis: 33.5%;
}
.dropdown, .contact{
    position: relative;
}
.dropdown-content{
    display: none;
    width: 500px;
}
.dropdown-content a {
    padding-left: 6px;
}
.dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
}
.dropdown .down-hover{
    display: none;
}
.dropdown:hover .down-hover{
    display: block;
}

.nav button, .contact, .dropdown-content a{
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    border: none;
    line-height: 25px;
}

.contact a, .dropdown-content a{
    text-decoration: none;
}
.contact a:link, .contact a:visited, .dropdown-content a:visited,
.contact a:active, .dropdown-content a:active{
    color: #000;
}

.nav button:hover, .contact a:hover, .dropdown-content a:hover{
    color: #b59f5b;
}
.nav button:focus{
    outline: none;
}

.btn-nav{
    position: relative;
}

img.down, img.down-hover {
    position: absolute;
    bottom: 8px;
    right: -8px;
    width: 9px;
}


div.social {
    width: 192px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px 15px 0 0;
    -ms-flex-preferred-size: 12.2%;
        flex-basis: 12.2%;
}
.twi, .faceb, .in, .inst, .goog{
    background-image: url(../img/social.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
}
a.faceb {
    background-position-x: -41px;
}
a.in {
    background-position-x: -81px;
}
a.inst {
    background-position-x: -122px;
}
a.goog {
    background-position-x: -162px;
}

/*2 блок*/
.no-js .owl-carousel, .owl-carousel.owl-loaded{
    display: none;
}
.posts {
    margin: 54px auto 0 auto;
}
.articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.article-links {
    text-align: center;
    width: 195px;
    margin: 16px auto 0 auto;
}
.article-links a{
    font-family: 'Open Sans', sans-serif;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
}
.article-links a:hover {
    color: rgba(181,159,81,0.56);
}

.articles-item {
    position: relative;
}
.articles-item .article-main a{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.1px;
    line-height: 26px;
}
.articles-item .article-main a:hover {
    color: #ffffffb3;
}
p.article-main {
    margin: 7px auto 0 auto;
    width: 356px;
    text-align: center;
}
.articles-item.articles-item-1,
.articles-item.articles-item-2,
.articles-item.articles-item-3 {
    position: relative;
    height: 360px;
    width: 520px;
}
.articles-item.articles-item-1::before,
.articles-item.articles-item-2::before,
.articles-item.articles-item-3::before{
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    -webkit-filter: brightness(25%);
            filter: brightness(25%);
}
.articles-item.articles-item-1::before{
    background-image: url(../img/article-1.png);
}
.articles-item.articles-item-2::before {
    background-image: url(../img/article-2.png);
}
.articles-item.articles-item-3::before {
    background-image: url(../img/article-3.png);
}

.articles-item.articles-item-1:hover::before,
.articles-item.articles-item-2:hover::before,
.articles-item.articles-item-3:hover::before {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
}

.article-text {
    position: relative;
    margin: 171px auto 0 auto;
    width: 460px;
    height: 128px;
    border: 3px solid;
    border-color: rgba(181, 159, 91, 0.4);
}

p.article-main {
    margin: 7px auto 0 auto;
}

p.article-day {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 13px;
    bottom: 8px;
    margin: 0;
}

.article-comment a{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    right: 9px;
    bottom: 8px;
    margin: 0;
    text-decoration: none;
}
.article-comment a::before {
    content: '';
    background-image: url(../img/comment.png);
    display: block;
    position: absolute;
    width: 17px;
    height: 15px;
    right: 18px;
    background-repeat: no-repeat;
    bottom: 0px;
}
.article-comment a:hover{
    color: #ffffffb3;
}
/*3 блок*/
/*grid*/

.block-item{
    display: grid;
        display:-ms-grid;
    width: 765px;
    height: 365px;
    -ms-grid-columns: 43% 7% 50%;
    grid-template-columns: 43% 7% 50%;
    -ms-grid-rows: 8% 44.5% 38% 1%;
    grid-template-rows: 8% 44.5% 38% 1%;
    position: relative;
    margin: 15px 0 15px 0px;
}

.block-item .img-1 a{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 12px 0 0 0;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 9px;
}
.block-item .img-1 a::before{
    content: '';
    background-image: url(../img/block-comment.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 13px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -3px;
}

.img-1{
    max-width: 444px;
    position: relative;
    height: 330px;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 3;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}
.img-1 img {
    display: table-column;
    -o-object-fit: cover;
       object-fit: cover;
    width: 380px;
    height: 291px;
}

.block-title {
    border: 3px solid;
    height: 159px;
    width: 427px;
    border-color: rgba(181, 159, 91, 0.4);
    position: relative;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
}

.block-title .block-article{
    color: #000;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    line-height: 24px;
    width: 300px;
    margin: 9px 0 0 90px;
}
.block-title .block-author{
    color: #000;
    font-weight: 800;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-transform: none;
    display: inline-block;
    position: absolute;
    bottom: 17px;
    left: 183px;
    text-decoration: none;
}
.block-title .block-author:hover {
    color: #000000b8;
}
.block-title .block-tags{
    margin: 24px 0 0 87px;
}
.block-title .block-tags a{
    font-family: 'Open Sans', sans-serif;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
    margin: 0 0 0 6px;
}
.block-title .block-tags a:hover {
    color: rgba(181,159,81,0.56);
}
p.block-date {
    color: #000;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: inline-block;
    position: absolute;
    left: 93px;
    bottom: 17px;
}
.block-text{
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    margin: 0 0 0 36px;
}
p.text {
    width: 357px;
    padding: 0;
    margin: 0;
    line-height: 22px;
    letter-spacing: -0.2px;
}
img.dots {
    padding: 0;
    margin: 26px 0 0 0;
}

.block-share {
    width: 132px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0 0 250px;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
}
.block-share p{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    padding: 4px 0 0 0;
    margin: 0;
}
.block-share .block-social {
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 0px 0 0px;
}
.block-social .b-twi,.block-social .b-pin,
.block-social .b-fb{
    background-image: url(../img/block-social.png);
    background-repeat: no-repeat;
}
.block-social .b-twi {
    background-position-x: 0px;
    height: 17px;
    width: 17px;
}
.block-social .b-pin {
    background-position-x: -39px;
    height: 20px;
    width: 15px;
}
.block-social .b-fb {
    background-position-x: -72px;
    height: 20px;
    width: 9px;
}

.block-line{
    background-color: #eeeeee;
    border: none;
    width: 430px;
    height: 3px;
    bottom: 0;
    right: 0px;
    position: absolute;
    margin: 0;
}

/*noemi*/
.noemi{
    position: relative;
    border: 3px solid;
    border-color: rgba(181, 159, 91, 0.4);
    height: 346px;
    width: 263px;
    margin-top: 77px;
}

.noemi-ph {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    top: -106px;
    right: calc(50% - 100px);
}

.noemi h2{
    margin: 110px 0 0 0;
}
h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -1px;
    text-align: center;
}

.noemi p {
    font-size: 16px;
    font-style: italic;
    letter-spacing: -1px;
    width: 216px;
    line-height: 24px;
    margin: 12px auto 0 auto;
    text-align: center;
}

.noemi p.noemi-follow {
    font-size: 24px;
    font-family: 'Mrs Sheppards', cursive;
    color: #b59f5b;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 0;
}

div.noemi-social {
    width: 168px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 25px auto 0 auto;
}

.noemi-social a.twi,.noemi-social a.faceb,.noemi-social a.in,.noemi-social a.inst,.noemi-social a.goog{
    background-image: url(../img/social.png);
    background-size: 1000%;
    background-repeat: no-repeat;
}
.noemi-social a.twi{
    height: 13px;
    width: 18px;
    background-position-x: 0px;
}
.noemi-social a.faceb{
    height: 15px;
    width: 17px;
    background-position-x: -38px;
}
.noemi-social a.in{
    height: 13px;
    width: 15px;
    background-position-x: -67px;
}
.noemi-social a.inst{
    height: 12px;
    width: 14px;
    background-position-x: -92px;
}
.noemi-social a.goog{
    height: 14px;
    width: 19px;
    background-position-x: -140px;
    background-size: 835%;
}

/*newsletter*/
.newsletter {
    width: 270px;
    height: 170px;
    margin: 52px 0 0 0;
}

.newsletter .mainline {
    width: 66px;
    margin: 9px auto 22px auto;
}
.news-form input[type="email"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    width: 236px;
    height: 50px;
    border: none;
    background-color: #f4f7f6;
    padding: 0 17px 0 17px;
    margin: 0 0 15px 0;
}
input[type="email"]:focus {
    outline: 1px solid #b59f5b73;
}
.news-form button {
    display: block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    border: none;
    background-color: #b59f5b;
    padding: 16px 96px;
}
.news-form button:hover{
    color:#b59f5b;
    background-color: transparent;
    border: 1px solid #b59f5b;
    padding: 15px 95px;
}
/*follow*/
.follow{
    width: 270px;
    -ms-grid-column-align: center;
        justify-self: center;
}

.follow .mainline {
    margin: 9px auto 22px auto;
    width: 66px;
}

.follow-grid{
    height: 270px;
    margin: 0 auto;
    display: grid;
        display:-ms-grid;
    grid-row-gap: 5px;
    grid-column-gap: 9px;
    justify-items: center;
    /*-ms-grid-columns: 1fr 9px 1fr 9px 1fr;*/
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 5px 1fr 5px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.follow-grid img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 85px;
    height: 85px;
}
.follow-grid a:hover{
    opacity: 0.75;
}
/*categorieas*/

.ul-categ {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 46px;
    background-color: #f5f5f5;
    padding: 0;
    width: 270px;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 14px auto 0 auto;
}
.ul-categ a {
    text-decoration: none;
    color: #000;
}
.ul-categ a:hover {
    color: #b59f5b;
}
ul.ul-categ li {
    background-color: #fff;
    margin: 1px 0 0 0;
}
ul.ul-categ li span {
    color: #b59f5b;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 0 7px;
}

/*RECENT POSTS*/
.recentposts form{
    margin-top: 40px;
}
.recentposts input[type="search"] {
    width: 222px;
    height: 47px;
    border: none;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 0 20px;
    float: left;
}
.recentposts button{
    background-color: #b59f5b;
    border: none;
    margin: 0;
    padding: 24px 13px 23px 35px;
    position: relative;
    cursor: pointer;
}
.recentposts button:focus{
    outline: none;
} 
.recentposts input[type="search"]:focus{
    outline: none;
}
.recentposts input::-webkit-search-decoration,
.recentposts input::-webkit-search-cancel-button,
.recentposts input::-webkit-search-results-button,
.recentposts input::-webkit-search-results-decoration { display: none; }

.recentposts button::before {
    content: '';
    display: block;
    background-image: url(../img/search1.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(50% - 9px);
}
.recpost-item{
    position: relative;
    width: 270px;
    height: 80px;
    padding: 0;
    margin: 0px 0 12px 0;
}
.recpost-item img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 72px;
    height: 72px;
    left: -88px;
    float: left;
    margin: 0px 16px 0 0;
}
.recpost-item p{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 0px 3px;
    padding: 0;
}
.recpost-item h3{
    margin: 0;
    width: 182px;
    display: inline-block;
}
.recpost-item h3 a{
    color: #000;
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 8px;
    text-decoration: none;
}
.recpost-item h3 a:hover{
    color: #b59f5b;
}
.recpost-item-1{
    margin-top: 25px;
}
/**/
.banner img{
    margin-top: 15px;
}
.banner img:hover {
    opacity: 0.75;
}
/*footer*/
.footer-follow{
    margin: 0 auto;
}
.footer-follow h3{
    font-size: 18px;
    margin: 0 auto;
}
.footer-follow a{
    text-decoration: none;
}
.footer-follow h4{
    font-size: 24px;
    font-family: 'Mrs Sheppards', cursive;
    color: #b59f5b;
    text-align: center;
    margin: 0px auto 38px auto;
    padding: 0;
    
}
.footer-follow h2 {
    font-size: 18px;
    margin: 0 auto;
}
.footer-follow h4 img{
    width: 17px;
    height: 17px;
    display: inline-block;
}
.footer-follow .inst-pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 20px auto;
    padding: 0;
}
.footer-follow img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 220px; 
    height: 220px; 
}

.footer-bg{
    background-color: #f4f7f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}
.footer-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 335px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}
.footer-social .t, .footer-social .twi,
.footer-social .pin, .footer-social .faceb,
.footer-social .goog, .footer-social .inst{
    background-image: url(../img/footer-social.png);
    background-repeat: no-repeat;
}
.footer-social .t{
    background-position-x: 0px;
    width: 16px;
    height: 25px;
}
.footer-social .twi{
    background-position-x: -61px;
    width: 21px;
    height: 23px;
}
.footer-social .pin{
    background-position-x: -123px;
    width: 19px;
    height: 24px;
} 
.footer-social .faceb{
    background-position-x: -189px;
    width: 21px;
    height: 25px;
}
.footer-social .goog{
    background-position-x: -240px;
    width: 30px;
    height: 24px;
} 
.footer-social .inst{
    background-position-x: -308px;
    width: 21px;
    height: 24px;
}

.footer h4{
    font-size: 30px;
    font-family: 'Mrs Sheppards', cursive;
    color: #000;
    margin: 13px auto 15px auto;    
    padding: 0;
    text-align: center;
    cursor:pointer;
}
h4#toTop:hover {
    color: #000000b8;
}
.footer p{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    margin: 0px auto 15px auto;
    padding: 0;
    text-align: center;
}
/*tags*/
.tags{
    width: 288px;
}
.tags a{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    border: 2px solid #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 16px;
    display: inline-block;
    margin: 0 6px 5px 0;
}
.tags a:hover{
    border-color: #e1d9bf;
}
.tags hr{
    margin-bottom: 20px;
}
.first-tag{
    margin-top: 15px;
}
/*1111111111111111111111*/
.block-hide{
    display: none;
}
.grid{
    margin: 106px auto 0 auto;
    display: grid;
        display:-ms-grid;

    width: 1140px;
    height: 3000px;
    -ms-grid-columns: 76% 24%;
    grid-template-columns: 77% 23%;
    -ms-grid-rows: 13.2% 0.4% 8.5% 5.2% 6.5% 7.5% 4.4% 9% 11.5% 2.5% 13.5% 10.3% 4.1%;
    grid-template-rows: 13.2% 0.4% 8.5% 5.2% 6.5% 7.5% 4.4% 9% 11.5% 2.5% 13.5% 10.3% 4.1%;
}

.block1{
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}
.block2{
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}
.block3{
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-row-span: 2;
    grid-row-end: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}
.block4{
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-row-span: 2;
    grid-row-end: 9;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}
.block5{
    -ms-grid-row: 9;
        grid-row-start: 9;
    -ms-grid-row-span: 2;
    grid-row-end: 11;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}
.block6{
    -ms-grid-row: 11;
        grid-row-start: 11;
    -ms-grid-row-span: 1;
    grid-row-end: 12;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}
.block7{
    -ms-grid-row: 12;
        grid-row-start: 12;
    -ms-grid-row-span: 2;
    grid-row-end: 14;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}
.block7,.block6,.block5,.block4,.block3,.block2,.block1{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.noemi{
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
}
.newsletter{
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
}

.follow{
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 2;
    grid-row-end: 6;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
}

.categories{
    -ms-grid-row: 6;
        grid-row-start: 6;
    -ms-grid-row-span: 2;
    grid-row-end: 8;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
}
.recentposts {
    -ms-grid-row: 8;
        grid-row-start: 8;
    -ms-grid-row-span: 2;
    grid-row-end: 10;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
}
.banner {
    -ms-grid-row: 10;
        grid-row-start: 10;
    -ms-grid-row-span: 2;
    grid-row-end: 12;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.fb-viget{
    -ms-grid-row: 12;
        grid-row-start: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 13;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
}
.tags{
    -ms-grid-row: 13;
        grid-row-start: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 14;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
/*FOR IE*/
.block-item > *:nth-child(1){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.block-item > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.block-item > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.block-item > *:nth-child(4){
    -ms-grid-row: 4;
    -ms-grid-column: 2;
}

.block-item > *:nth-child(5){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.grid > *:nth-child(2){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.grid > *:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.grid > *:nth-child(4){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}
.grid > *:nth-child(5){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}
.grid > *:nth-child(6){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}
.grid > *:nth-child(7){
    -ms-grid-row: 12;
    -ms-grid-column: 1;
}
.grid > *:nth-child(8){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.grid > *:nth-child(9){
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}
.grid > *:nth-child(10){
    -ms-grid-row: 4;
    -ms-grid-column: 2;
}
.grid > *:nth-child(11){
    -ms-grid-row: 6;
    -ms-grid-column: 2;
}
.grid > *:nth-child(12){
    -ms-grid-row: 8;
    -ms-grid-column: 2;
}
.grid > *:nth-child(13){
    -ms-grid-row: 10;
    -ms-grid-column: 2;
}
.grid > *:nth-child(14){
    -ms-grid-row: 12;
    -ms-grid-column: 2;
}
.grid > *:nth-child(15){
    -ms-grid-row: 13;
    -ms-grid-column: 2;
}
.follow-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.follow-grid > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.follow-grid > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.follow-grid > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.follow-grid > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.follow-grid > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.follow-grid > *:nth-child(7){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.follow-grid > *:nth-child(8){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.follow-grid > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}
.follow-grid a:hover{
    opacity: 0.75;
}
.banner img:hover {
    opacity: 0.75;
}

/*MEDIA*/
@media(max-width:1600px){
    .wrap {
        max-width: 1400px;
    }
    div.social {
        margin: 30px 15px 0px 0;
    }
    div.nav {
        margin: 30px 0 0px 15px;
    }
    .articles-item.articles-item-1, .articles-item.articles-item-2, .articles-item.articles-item-3 {
        width: 450px;
    }
    .article-text {
        width: 409px;
    }
    div.nav {
        -ms-flex-preferred-size: 36.5%;
            flex-basis: 36.5%;
    }
    .footer-follow .inst-pics {
        display: grid;
            display: -ms-grid;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        /*-ms-grid-columns: 1fr 21px 1fr 21px 1fr;*/
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 21px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 21px;
        max-width: 512px;
        margin: 0 auto 55px auto;
    }
    .footer-follow .inst-pics > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .footer-follow .inst-pics > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .footer-follow .inst-pics > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .footer-follow .inst-pics > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .footer-follow .inst-pics > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .footer-follow .inst-pics > *:nth-child(7){
        -ms-grid-row:2;
        -ms-grid-column: 3;
    }
    .inst-pics img{
        margin: 5px;
    }
    .inst-5 {
        display: none;
    }
    .footer-bg {
        width: 95%;
    }
}
@media(max-width:1400px){
    .wrap {
        max-width: 1200px;
    }
    div.social {
    margin: 45px 15px 0px 0;
    padding: 0;
    }
    div.nav {
        margin: 40px 0 0px 15px;
        -ms-flex-preferred-size: 41%;
        flex-basis: 41%;
    }
    .articles-item.articles-item-1, .articles-item.articles-item-2, .articles-item.articles-item-3 {
        width: 390px;
        height: 330px;
    }
    .article-text {
        width: 350px;
        margin: 140px auto 0 auto;
    }
    p.article-main {
        width: auto;
    }
        
}
@media(max-width:1200px){
    .wrap {
        max-width: 1100px;
    }
    .articles-item.articles-item-1, .articles-item.articles-item-2, .articles-item.articles-item-3 {
        width: 355px;
    }
    .article-text {
        width: 325px;
    }
    div.nav {
        margin: 30px 0 0px 15px;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
    }
    .grid {
        width: 1050px;
    }
}
@media(max-width:1100px){
    .wrap {
        max-width: 900px;
    }
    
    .articles-item.articles-item-1, .articles-item.articles-item-2, .articles-item.articles-item-3 {
        height: 360px;
        width: 520px;
        margin: 0 auto;
    }
    .article-text {
        width: 460px;
        position: absolute;
        right: calc(50% - 235px);
    }
    .articles{
        display: none;
    }
    .no-js .owl-carousel, .owl-carousel.owl-loaded{
        display: block;
    }
    .header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        /*-webkit-box-direction: reverse;*/
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .dropdown:hover .dropdown-content {
        display: -webkit-box;
        position: absolute;
    }
    .dropdown-content a {
        margin-right: 5px;
    }
    div.nav {
        margin: 30px auto 0 auto;
    }
    div.social {
        margin: 40px auto 0px auto;
    }
    .mainname p {
        margin: 45px auto 19px auto;
    }
    .block-show{
        display: none;
    }
    .block-hide{
        display: block;
    }
    .block-item{
        margin: 30px auto;
    }
    
    .grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
       -ms-grid-rows: 37% 22% 28% 10%;
       grid-template-rows: 37% 22% 28% 10%;
        max-height: 1644px;
        max-width: 800px;
        margin: 50px auto 30px auto;
        
    }
   
    .noemi{
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-column: 2;
            grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: start;
            -ms-grid-row-align: start;
            align-self: start;
    }
    .recentposts {
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
    }
    .follow{
        -ms-grid-row: 2;
            grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .categories{
        -ms-grid-row: 2;
            grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-column: 2;
            grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .banner {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .fb-viget{
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
        -ms-grid-column: 2;
            grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .newsletter{
        -ms-grid-row: 4;
            grid-row-start: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 5;
        -ms-grid-column: 1;
            grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        margin: 0;
    }

    .tags{
        -ms-grid-row: 4;
            grid-row-start: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 5;
        -ms-grid-column: 2;
            grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .grid > *:nth-child(8){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .grid > *:nth-child(12){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .grid > *:nth-child(10){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .grid > *:nth-child(11){
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .grid > *:nth-child(13){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .grid > *:nth-child(14){
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    grid > *:nth-child(9){
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .grid > *:nth-child(15){
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
}
@media(max-width:950px){
    .wrap {
        max-width: 780px;
    }
    .mainline {
        margin-bottom: 30px;
    }
}
@media(max-width:850px){
    .wrap {
        max-width: 700px;
        margin: 0 auto;
    }
    .dropdown-content a {
        margin-right: 5px;
        background: #fffc;
        padding-right: 5px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        padding: 0;
        margin: 0;
    }
    .block-item {
        width: 610px;
        height: 282px;
        grid-template-columns: 42% 2% 52%;
        grid-template-rows: 11% 46.5% 30% 10%;
    }
    .img-1 img {
        width: 295px;
        height: 206px;
    }
    .block-item .img-1 a {
        right: -20px;
    }
    .block-title {
        height: 145px;
        width: 351px;
    }
    .block-title .block-tags {
        margin: 23px 0 0 35px;
    }
    .block-title .block-article {
        margin: 9px 0 0 40px;
    }
    p.block-date {
        left: 40px;
        bottom: 17px;
    }
    .block-text {
        margin: 0 0 0 35px;
    }
    p.text {
        width: 279px;
        margin: 0;
    }
    .block-share {
        width: 118px;
        margin: 0px 0 0 192px;
    }
    .block-line {
        bottom: 0px;
        right: 10px;
        margin: 0;
    }
    .inst-pics img {
        margin: 0px;
    }
}
@media(max-width:750px){
    .wrap {
        max-width: 650px;
        margin: 0 auto;
    }
    item.articles-item-3 {
        height: 340px;
        width: 495px;
        margin: 0 auto;
    }
    .footer-follow img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 150px;
        height: 150px;
    }
    .grid{
        display: block;
        max-height: 3000px;
    }
    .noemi, .newsletter, .follow ,.categories,
    .recentposts, .recpost-item, .banner, .fb-viget, .tags{
        margin: 30px auto;
    }
    .noemi{
        margin-top: 150px;
    }
    .recentposts{
        max-width: 273px;
    }
    .banner img {
        display: block;
        margin: 0 auto;
    }
}
@media(max-width:650px){
    .wrap {
        max-width: 600px;
        margin: 0 auto;
    }
    .block-item {
    width: 530px;
    height: 282px;
    grid-template-columns: 38% 7% 29%;
    grid-template-rows: 12% 38.5% 30% 10%;
    }
    .img-1 img {
        width: 260px;
        height: 190px;
    }
    .block-title {
        height: 126px;
        width: 322px;
    }
    .block-title .block-tags {
        margin: 13px 0 0 60px;
    }
    .block-title .block-article {
        margin: 9px 0 0 66px;
        font-size: 14px;
        width: 250px;
    }
    p.block-date {
        left: 66px;
        bottom: 9px;
    }
    .block-title .block-author {
        bottom: 9px;
        left: 211px;
    }
    .block-text {
        margin: 0 0 0 29px;
        font-size: 12px;
    }
    p.text {
        width: 250px;
        margin-top: 0px;
        margin-left: 10px;
    }
    img.dots {
        padding: 0;
        margin: 14px 0 0 14px;
    }
    .block-share {
        width: 129px;
        margin: 0px 0 0 155px;
    }
    .block-line {
        bottom: 9px;
    }
}
@media(max-width:600px){
    .wrap {
        max-width: 550px;
        margin: 0 auto;
    }
    div.nav {
        margin: 30px auto 0 auto;
        width: 429px;
        /* font-size: 7px; */
    }
    .nav button, .contact, .dropdown-content a {
        font-size: 10px;
    }
    .mainname p {
        margin: 30px auto 10px auto;
        font-size: 45px;
    }
    .articles-item.articles-item-1, .articles-item.articles-item-2, .articles-item.articles-item-3 {
        height: 320px;
        width: 415px;
    }
    .article-text {
        width: 370px;
        position: absolute;
        right: calc(50% - 190px);
    }
    p.article-main {
        margin: 7px auto 0 auto;
        width: 350px;
    }
}
@media(max-width:500px){
    .wrap {
        max-width: 305px;
        margin: 0 auto;
    }
    .mainline {
        margin-bottom: 15px;
    }
    div.nav {
        margin: 15px auto 0 auto;
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .nav button, .contact, .dropdown-content a, .dropdown {
        padding: 0;
        margin: 0 auto;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        padding: 0;
        margin-left: 65px;
        width: 120px;
        top: 0;
    }
    img.down, img.down-hover,.dropdown:hover .down-hover {
        display: none;
    }
    .articles-item.articles-item-1, .articles-item.articles-item-2, .articles-item.articles-item-3 {
        height: 270px;
        width: 270px;
    }
    .article-text {
        width: 250px;
        position: absolute;
        right: calc(50% - 128px);
        margin: 90px auto 0 auto;
    }
    p.article-main {
        width: 250px;
    }
    .articles-item .article-main a {
        font-size: 15px;
    }
    .block-item {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: fit-content;
        flex: 1 1 auto;
        position: relative;
    }
    .block-item .img-1 a{
        display: none;
    }
    p.text {
        width: 250px;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        flex: 1 1 auto;
    }
    .img-1{
        height: unset;
        top: -10px;
    }
    .img-1 img {
        width: 200px;
        opacity: 0.6;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        flex: 1 1 auto;
    }
    .block-title {
        width: 228px;
        margin: 0 auto;
        flex: 1 1 auto;
    }
    .block-title .block-tags {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 0;
        flex: 1 1 auto;
    }
    .block-title .block-article {
        margin: 10px auto 25px auto;
        font-size: 14px;
        width: 180px;
        text-align: center;
        flex: 1 1 auto;
    }
    p.block-date {
        left: 9px;
        bottom: 3px;
        font-size: 10px;
        flex: 1 1 auto;
    }
    .block-title .block-author {
        bottom: 4px;
        left: 135px;
        font-size: 10px;
        flex: 1 1 auto;
    }
    .block-text {
        z-index: 10;
        margin: 5px auto;
        font-size: 12px;
        flex: 1 1 auto;
    }
    img.dots {
        padding: 0;
        margin: 10px auto;
        display: block;
        flex: 1 1 auto;
    }
    .block-share {
        width: 129px;
        margin: 0 auto;
        flex: 1 1 auto;
    }
    .footer-bg {
    width: 320px;
    }
    .footer-follow img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    }
    .block-line {
        bottom: -9px;
        left: 0;
        right: 0;
        width: 150px;
        margin: 0px auto;
    }
    .grid {
        display: block;
        max-height: unset;
        height: fit-content;
    }
    .footer-follow .inst-pics {
        flex-direction: column;
        display: flex;
        margin: 0 auto 55px auto;
    }
    .footer-follow img {
        object-fit: cover;
        width: 250px;
        height: 250px;
        margin: 10px auto;
    }
    .footer-social {
        width: 275px;
    }
}